body {
    background-color: lab(2.42579% -.165291 -.470081);
    font-family: "Arial", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-synthesis: none;
    scrollbar-gutter: stable;
    color: lab(100% 0 0);
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.items-start{
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.justify-end {
    justify-content: end;
}

.grid{
    display: grid;
}

.grid-rows-2{
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.w-full{
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.h-fit{
    height: fit-content;
}

.h-full{
    height: 100%;
}

.py-0-4375rem {
    padding-block: 0.4375rem;
}

.py-0-5{
    padding-block: calc(0.25rem * 0.5);
}

.py-4{
    padding-block: calc(0.25rem * 4);
}

.py-6{
    padding-block: calc(0.25rem * 6);
}


.py-4-5rem{
    padding-block: 4.5rem;
}

.py-7-5rem {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.py-24{
    padding-block: calc(0.25rem * 24);
}

.py-0-4375rem {
    padding-top: .4375rem;
    padding-bottom: .4375rem;
}

.px-1{
    padding-inline: calc(0.25rem * 1);
}

.px-2{
    padding-inline: calc(0.25rem * 2);
}

.px-6{
    padding-inline: calc(0.25rem * 6);
}

.px-8{
    padding-inline: calc(0.25rem * 8);
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.z-10{
    z-index: 10;
}

.z-50{
    z-index: 50;
}

.z-100{
    z-index: 100;
}

.sticky{
    position: sticky;
}

.top-0{
    top: 0;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.gap-y-7{
    row-gap: calc(0.25rem * 7);
}

.gap-1-5{
    gap: calc(0.25rem * 1.5)
}

.gap-2{
    gap: calc(0.25rem * 2)
}

.gap-4{
    gap: calc(0.25rem * 4)
}

.gap-6{
    gap: calc(0.25rem * 6)
}

.gap-7{
    gap: calc(0.25rem * 7)
}

.gap-8{
    gap: calc(0.25rem * 8)
}

.gap-12{
    gap: calc(0.25rem * 12)
}

.gap-16{
    gap: calc(0.25rem * 16)
}

.gap-23{
    gap: calc(0.25rem * 23)
}

.gap-x-42{
    column-gap: calc(0.25rem * 42);
}

.gap-x-25{
    column-gap: calc(0.25rem * 25);
}

.gap-x-8{
    column-gap: calc(0.25rem * 8);
}

.bg-image-hero {
    z-index: -1;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10rem;
    -webkit-mask-image: linear-gradient(#000 0%,rgba(0,0,0,.99) 18.5%,rgba(0,0,0,.953) 34.3%,rgba(0,0,0,.894) 47.6%,rgba(0,0,0,.824) 58.5%,rgba(0,0,0,.74) 67.5%,rgba(0,0,0,.647) 74.7%,rgba(0,0,0,.55) 80.3%,rgba(0,0,0,.45) 84.7%,rgba(0,0,0,.353) 88%,rgba(0,0,0,.26) 90.5%,rgba(0,0,0,.176) 92.5%,rgba(0,0,0,.106) 94.2%,rgba(0,0,0,.047) 95.9%,rgba(0,0,0,.01) 97.7%,transparent 100%);
    mask-image: linear-gradient(#000 0%,rgba(0,0,0,.99) 18.5%,rgba(0,0,0,.953) 34.3%,rgba(0,0,0,.894) 47.6%,rgba(0,0,0,.824) 58.5%,rgba(0,0,0,.74) 67.5%,rgba(0,0,0,.647) 74.7%,rgba(0,0,0,.55) 80.3%,rgba(0,0,0,.45) 84.7%,rgba(0,0,0,.353) 88%,rgba(0,0,0,.26) 90.5%,rgba(0,0,0,.176) 92.5%,rgba(0,0,0,.106) 94.2%,rgba(0,0,0,.047) 95.9%,rgba(0,0,0,.01) 97.7%,transparent 100%);
    background-image: url(https://www.mintlify.com/hero/bg-dark.svg);
}

.isolate{
    isolation: isolate;
}

.pointer-events-none{
    pointer-events: none;
}

.select-none{
    user-select: none;
}

.max-w-66{
    max-width: 66rem;
}

.max-w-5xl {
    max-width: 64rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.m-1-5{
    margin: calc(0.25rem * 1.5);
}

.gap-1{
    gap: calc(0.25rem * 1);
}

.gap-1-5{
    gap: calc(0.25rem * 1.5);
}

.gap-2{
    gap: calc(0.25rem * 2);
}

.gap-2-5{
    gap: calc(0.25rem * 2.5);
}

.p-2-5 {
    padding: calc(0.25rem * 2.5);
}

.p-8 {
    padding: calc(0.25rem * 8);
}

.px-3{
    padding-inline: calc(0.25rem * 3);
}

.py-1{
    padding-block: calc(0.25rem * 1);
}

.py-1-5{
    padding-block: calc(0.25rem * 1.5);
}

.py-12{
    padding-block: calc(0.25rem * 12);
}

.p-y-7-5 {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.bg-background-soft {
    background-color: lab(100% 0 0/.05);
}

.bg-background-invert {
    background-color: lab(100% 0 0);
}

.bg-background-main {
    background-color: lab(2.42579% -.165291 -.470081);
}

.border-transparent {
    border-color: transparent;
}

.background-transparent {
    background-color: transparent;
}

.bg-border-soft {
    background-color: lab(100% 0 0/.15);
}

.border {
    border-width: 1px;
    border-style: solid;
}

.border-2 {
    border-width: 2px;
    border-style: solid;
}

.border-3 {
    border-width: 3px;
    border-style: solid;
}

.border-0-5px {
    border-style: solid;
    border-width: .5px;
}

.border-b {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.border-b-0{
    border-bottom-style: solid !important;
    border-bottom-width: 0 !important;
}

.rounded-full{
    border-radius: 3.40282e38px;
}

.text-text-main {
    color: lab(100% 0 0);
}

.z--1{
    z-index: -1;
}

.font-medium{
    font-weight: 500;
}

.font-normal{
    font-weight: 400;
}

.cursor-pointer{
    cursor: pointer;
}

.size-2-5{
    width: calc(0.25rem * 2.5);
    height: calc(0.25rem * 2.5);
}

.size-4{
    width: calc(0.25rem * 4);
    height: calc(0.25rem * 4);
}

.pl-1{
    padding-left: calc(0.25rem * 1);
}

.pr-2{
    padding-right: calc(0.25rem * 2);
}

.rounded-60px{
    border-radius: 60px;
}

.m0{
    margin: 0;
}

.pb-6{
    padding-bottom: calc(0.25rem * 6);
}

.pb-12{
    padding-bottom: calc(0.25rem * 12);
}

.pb-18{
    padding-bottom: calc(0.25rem * 18);
}

.pb-24{
    padding-bottom: calc(0.25rem * 24);
}

.pb-36{
    padding-bottom: calc(0.25rem * 36);
}

.pt-6-5rem{
    padding-top: 6.5rem;
}

.pt-2-5rem{
    padding-top: 2.5rem;
}

.pt-8{
    padding-top: calc(0.25rem * 8);
}

.pt-12{
    padding-top: calc(0.25rem * 12);
}

.pt-16{
    padding-top: calc(0.25rem * 16);
}

.pt-18{
    padding-top: calc(0.25rem * 18);
}

.rounded-t-3xl{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.rounded-2xl{
    border-radius: 1rem;
}

.rounded-3xl{
    border-radius: 1.5rem;
}

.text-balance {
    text-wrap: balance;
}

.hero-title{
    letter-spacing: -.02em;
    font-size: 61.44px;
}

.font-semibold{
    font-weight: 600;
}

.leading-110{
    line-height: 110%;
}

.leading-115{
    line-height: 115%;
}

.leading-130{
    line-height: 130%;
}

.leading-150{
    line-height: 150%;
}

.max-w-43rem{
    max-width: 43rem;
}

.text-lg-150{
    font-size: 1.125rem;
    line-height: 150%;
}

.max-w-28rem{
    max-width: 28rem;
}

.max-w-29-5rem{
    max-width: 29.5rem;
}

.max-w-40rem{
    max-width: 40rem;
}

.max-w-40-5rem{
    max-width: 40.5rem;
}

.max-w-560px{
    max-width: 560px;
}

.max-w-998px{
    max-width: 998px;
}

.max-w-1022px{
    max-width: 1022px;
}

.my-6{
    margin-top: calc(0.25rem * 6);
    margin-bottom: calc(0.25rem * 6);
}

.mt-14{
    margin-top: calc(0.25rem * 14);
}

.mt-12{
    margin-top: calc(0.25rem * 12);
}

.mt-7{
    margin-top: calc(0.25rem * 7);
}

.mt-6{
    margin-top: calc(0.25rem * 6);
}

.mt-4{
    margin-top: calc(0.25rem * 4);
}

.mt-3{
    margin-top: calc(0.25rem * 3);
}

.mt-2{
    margin-top: calc(0.25rem * 2);
}

.mt-1{
    margin-top: calc(0.25rem * 1);
}

.mr-1{
    margin-right: calc(0.25rem * 1);
}

.mr-8{
    margin-right: calc(0.25rem * 8);
}

.ml-8{
    margin-left: calc(0.25rem * 8);
}

.mb-1{
    margin-bottom: calc(0.25rem * 1);
}

.mb-4{
    margin-bottom: calc(0.25rem * 4);
}

.mb-9rem{
    margin-bottom: 9rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mt-30px {
    margin-top: 30px;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left !important;
}

.backdrop-blur-12px{
    backdrop-filter: blur(12px);
}

.p-1{
    padding: calc(0.25rem * 1);
}

.p-1-5{
    padding: calc(0.25rem * 1.5);
}

.p-6{
    padding: calc(0.25rem * 6);
}

.p-16{
    padding: calc(0.25rem * 16);
}

.border-border-soft{
    border-color: lab(100% 0 0/.15);    
}

.border-border-sub{
    border-color: lab(100% 0 0/.07);    
}

.max-w-22-5rem{
    max-width: 22.5rem;
}

.mt-8 {
    margin-top: calc(0.25rem * 8);
}

.outline-none{
    outline-style: none;
}

.text-15px{
    font-size: 15px;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 130%;
}

.text-base-1-5 {
    font-size: 1rem;
    line-height: 1.5;
}

.text-base-6 {
    font-size: 1rem;
    line-height: calc(0.25rem * 6);
}

.text-base-150 {
    font-size: 1rem;
    line-height: 150%;
}

.h-8 {
    height: calc(0.25rem * 8);
}

.h-10 {
    height: calc(0.25rem * 10);
}

.h-16 {
    height: calc(0.25rem * 16);
}

.h-366px{
    height: 366px;
}

.text-text-invert{
    color: lab(2.42579% -.165291 -.470081);
}

.border-background-invert {
    border-color: lab(100% 0 0);
}

.border-background-soft {
    border-color: lab(100% 0 0/.05);
}

.inline-flex{
    display: inline-flex;
}

.shrink-0{
    flex-shrink: 0;
}

.text-white{
    color: #fff;
}

.bg-green-light{
    background-color: lab(51.3415% -41.5657 15.3527);
}

.text-xs-150{
    font-size: 0.75rem;
    line-height: 150%;
}

.text-sm-150 {
    font-size: .875rem;
    line-height: 150%;
}

.text-xs-4-5 {
    font-size: 0.75rem;
    line-height: calc(0.25rem * 4.5);
}

.text-xl {
    font-size: 1.25rem;
    line-height: 130%;
}

.text-xl-6-5 {
    font-size: 1.25rem;
    line-height: calc(0.25rem * 6.5);
}

.tracking {
    letter-spacing: 0.6px;
}

.tracking--0-24px {
    letter-spacing: -.24px;
}

.tracking--0-2px {
    letter-spacing: -0.2px;
}

.tracking--0-8px {
    letter-spacing: -0.8px;
}

.tracking-0-5px {
    letter-spacing: 0.5px;
}

.tracking-0-65px {
    letter-spacing: .65px;
}

.red{
    border: 2px solid red;
}

.section-style {
    text-align: center;
    line-height: 110%;
    font-weight: 600;
    color: lab(100% 0 0);
    letter-spacing: -.02em;
    font-size: max(1.75rem,min(4vw,2.5rem));
}

.text-text-soft{
    color: lab(100% 0 0/.7);
}

.text-text-sub{
    color: lab(100% 0 0/.6);
}

.backdrop-blur-lg {
    backdrop-filter: blur(16px);
}

.text-brand {
    color: lab(79.9844% -59.6292 22.5096);
}

.font-mono {
    font-family: "Geist Mono","Geist Mono Fallback";
}

.uppercase{
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.overflow-hidden{
    overflow: hidden;
}

.object-center {
    object-position: center;
}

.object-cover {
    object-fit: cover;
}

.bg-background-invert-20 {
    background-color: color-mix(in oklab,lab(100% 0 0) 20%,transparent);
}

.scale-1-15 {
    scale: 1.15;
}

.text-15px-150 {
    font-size: 15px;
    line-height: 150%;
}

.rotate--90{
    transform: rotate(-90deg);
}

.w-12rem{
    width: 12rem;
}

.text-2-5rem {
    font-size: 2.5rem;
}

.text-white-80 {
    color: color-mix(in oklab,#fff 80%,transparent);
}

.text-sm-6 {
    font-size: 0.875rem;
    line-height: calc(0.25rem * 6);
}

.mt-auto{
    margin-top: auto;
}

.line-clamp-2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}


.text-muted {
    color: lab(100% 0 0/.5);
}

.rounded-sm {
    border-radius: 0.25rem;
}

.cards{
    width: 335px;
}

.text-40px {
    font-size: 40px;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.border-right > div:first-child {
    border-right: 1px solid lab(100% 0 0/.05);
}

.border-border-surface {
    border-color: lab(100% 0 0/.05);
}

.border-t {
    border-top-style: solid;
    border-top-width: 1px;
}

.border-x {
    border-inline-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
}

.ml-auto {
    margin-left: auto;
}

.text-13px-150 {
    font-size: 13px;
    line-height: 150%;
}
